version: "3.9"
services:
  frigate:
    container_name: frigate
    # privileged: true
    restart: unless-stopped
    networks:
      - frigate
    image: {{ frigate_container_image }}
    shm_size: "256mb"
    devices:
      - /dev/bus/usb:/dev/bus/usb # passes the USB Coral
{% if frigate_hwaccel_args == "preset-rpi-64-h264" %}
      - /dev/video10:/dev/video10
{% endif %}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./frigate.yml:/config/config.yml:ro
      - {{ frigate_storage_path }}:/media/frigate
      - /db
      - type: tmpfs # Optional: 1GB of memory, reduces SSD/SD Card wear
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    ports:
      - "8971:8971"
      - "1935:1935" # RTMP feeds
    environment:
      FRIGATE_RTSP_PASSWORD: "{{ frigate_rtsp_password }}"
{% if frigate_configure_mqtt_broker %}

  mqtt:
    container_name: mqtt
    image: eclipse-mosquitto:2
    volumes:
      - ./mosquitto/logs/:/mosquitto/logs/
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto/mqtt-auth.conf:/mosquitto/config/mqtt-auth.conf
      - ./mosquitto/mqtt-acl.conf:/mosquitto/config/mqtt-acl.conf
    restart: unless-stopped
    networks:
      - frigate
    ports:
      - "1883:1883"
{% endif %}

networks:
  frigate:
