database:
  path: /db/frigate.db
mqtt:
  host: mqtt
  topic_prefix: frigate
  client_id: frigate
  user: frigate
  password: {{ frigate_mosquitto_password }}
detectors:
  coral:
    type: edgetpu
    device: usb
cameras:
  basement:
    ffmpeg:
      output_args:
        record: -f segment -segment_time 10 -segment_format mp4 -reset_timestamps 1 -strftime 1 -c:v copy -tag:v hvc1 -bsf:v hevc_mp4toannexb -c:a aac
        rtmp: -c:v copy -c:a aac -f flv
      inputs:
        - path: "{{ frigate_camera_path }}"
          roles:
            - detect
            - record
            - rtmp
    rtmp:
      enabled: False
    detect:
      width: 3840
      height: 2160
record:
  enabled: {{ frigate_record_enabled }}
  expire_interval: 60
  retain:
    days: {{ frigate_record_retain_days }}
    mode: {{ frigate_record_retain_mode }}
